* {
  box-sizing: border-box;
}
.background {
  background-color: #0e2338;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(124, 124, 185, 0.062);
  filter: blur(10px);
}

.container-box {
  backdrop-filter: blur(5px);
  width: 450px;
  margin: 0 auto;
  background-color: #283a4fee;
  border-radius: 15px;
  padding: 35px;
  margin-top: 20px;
  border: #fff 1px solid;
  box-shadow: 0 1px 30px #ffffff59;
}
.container-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.underline {
  border-bottom: 7px solid #fd9800;
  border-radius: 5px;
  display: inline-block;
}
.button-box {
  background-color: #00bac7;
  padding: 0.7rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  border: none;
}
.login-box label {
  font-size: 20px;
  color: white;
}
.forget-text a {
  color: #ccc;
  text-decoration: none;
}